*{
    margin: 0;
    padding: 0;

}
.header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #167587;
    text-align: center;
}
.header a{
    text-decoration: none;
    margin: 0 80px;
    color: #fff;
}
.banner{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #f4a261;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.heeed{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #2a9d8f;
    text-align: center;
    
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
